<div class="container">
    <div class="row">
        <div class="col my-3">
            <button class="btn btn-primary" type="submit" (click)="creer()">Créer un groupe</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Courriel</th>
            <th scope="col">Id</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let groupe of listeGroupes(); index as i;">
            <th scope="row" class="clickable" (click)="afficher(groupe.id)">{{i+1}}</th>
            <td scope="row" class="clickable" (click)="afficher(groupe.id)">{{groupe.displayName}}</td>
            <td scope="row" class="clickable" (click)="afficher(groupe.id)">{{groupe.description}}</td>
            <td scope="row" class="clickable" (click)="afficher(groupe.id)">{{groupe.id}}</td>
            <td scope="row">
                <button type="button" class="btn btn-danger" (click)="supprimer(groupe.id)">X</button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-container *ngIf="groupe() && !etapeCreation(); else ajouterNouveauGroupe">
        <app-groupe [idGroupe]="groupe()"></app-groupe>
      </ng-container>

      <ng-template #ajouterNouveauGroupe>
        <app-ajout-groupe *ngIf="etapeCreation()"></app-ajout-groupe>
      </ng-template>

</div>